<!DOCTYPE html>
<html lang="ko">
    <head class="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BoardList</title>
        <link rel="stylesheet" href="/css/css.css">
        <style>
            @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        </style>
        
        <%-include("../default/header.ejs")%>
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시판</strong>
            <p>여러분들의 여행후기를 올려주세요!</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="id">작성자</div>
                    <div class="viewcount">조회수</div>
                    <div class="likes">좋아요</div>
                </div>
                <% list.forEach( data => { %>
                    <div>
                        <div class="num"><%=data.NUM %></div>
                        <div class="title"><a href="/content/<%= data.NUM %>"><%= data.TITLE %></a></div>
                        <div class="id"><%= data.ID %></div>
                        <div class="viewcount"><%= data.VIEWCOUNT %></div>
                        <div class="likes"><%= data.LIKES %></div>
                    </div>
                <% })
                    if (list.length == 0) {%>
                        <div> <b>등록된 글이 없습니다</b> </div>
                    <% } %>
                </div>
                <div class="board_page">
                    <% if( start <= 1){ %>
                        <a href="#" class="bt first"><button disabled><</button></a>
                    <% } else { %>
                        <a href="/boardList?start=<%=start-1%>" class="bt prev"><</a>
                    <% }for(let i=1 ; i <= page.totPage ; i++ ){ %>
                        <a href="/boardList?start=<%=i %>" class="num"><%=i %></a>
                    <% }if( start < page.totPage ){%>
                        <a href="/boardList?start=<%=start+1%>" class="bt next">></a>
                    <% }else{ %>
                        <a href="#" class="bt last"><button disabled>></button></a>
                    <% } %>
                </div>
                <div class="bt_wrap">
                    <%if(username) {%>
                        <a href="/write_form" class="on">글 등록</a>
                    <%} else {%>
                        <a href="/member/loginForm" onclick="msg()">글 등록</a>
                        <script>
                            function msg () {
                                alert('로그인 후 사용가능합니다');
                            }
                        </script>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%-include("../default/footer.ejs")%>
</body>
</html>