<%-include("../default/header.ejs")%>
<style>
    tr {border: solid 1px black; margin: auto;}
    th {width: 300px; border: solid 1px black; margin: auto;}
    td {width: 300px; border: solid 1px black; margin: auto;}
</style>

전체 글 개수 : <%= totalContent %>
<table border="1">
    <tr>
        <th>글 번호</th> <th>제목</th> <th> 등록날짜</th> <th>조회수</th> <th>좋아요</th>
    </tr>

    <% list.forEach( data => { %>
        <tr>
            <td><%=data.NUM %></td>
            <td>
                <a href="/content/<%= data.NUM %>"> <%= data.TITLE %></a>
            </td>
            <td><%= data.DATES %></td>
            <td><%= data.VIEWCOUNT %></td>
            <td><%= data.LIKES %></td>
        </tr>
    <% }); 
    if (list.length == 0) {%>
        <tr>
            <td colspan="5"> <b>등록된 글이 없습니다</b> </td>
        </tr>
    <% } %>
    
    <tr><td colspan="4">
        <% if( start <= 1){ %>
            <button disabled>이전</button>
        <% } else { %>
            <button type="button" onclick="
                location.href='/boardList?start=<%=start-1%>'">이전</button>
        <% }for(let i=1 ; i <= page.totPage ; i++ ){ %>
            <a href="/boardList?start=<%=i %>"><%=i %></a>
        <% }if( start < page.totPage ){%>
            <button type="button" onclick="
                location.href='/boardList?start=<%=start+1%>'">다음</button>
        <% }else{ %>
            <button disabled>다음</button>
        <% } %>
    </td>
    <td><a href="/write_form">글 등록</a></td>
</table>
<%-include("../default/footer.ejs")%>