<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section {margin: 0% 20% ;}
        #country {padding: 5% 20%;}
        div > table {margin: 0% 20% ; text-align: center;}
    </style>
</head>
<body>
    <header>
        <%-include("../default/header.ejs")%>
    </header>
    <section>
        <div id="country">
            <div><h3>SAPPORO</h3><br></div>
            <div><img src="/country/image/<%=files[0]%>" width="400px" height="400px"/><br><br></div>
            <div>
                <p>일본 > 홋카이도 > 삿포로<br>
                    언어 : 일본어<br>
                    기온<br>
                    환율<br>
                    7~8월 추천<br>
                    항공 2시간 30분<br>
                </p>
            </div>
            <div>
                <table>
                    <tr>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                    </tr>
                    <tr>
                        <td><a href="#">로이톤 삿포로 호텔</a></td>
                        <td><a href="#">삿포로 그랜드 호텔</a></td>
                        <td><a href="#">조잔케이 온센 유라쿠소안</a></td>
                    </tr>
                    <tr>
                        <td>설명</td>
                        <td>설명</td>
                        <td>설명</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div>
                <table>
                    <tr>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                    </tr>
                    <tr>
                        <td><a href="#">우오베이 시부야 도겐자카점</a></td>
                        <td><a href="#">소메타로</a></td>
                        <td><a href="#">하쿠슈 데판야키</a></td>
                    </tr>
                    <tr>
                        <td>설명</td>
                        <td>설명</td>
                        <td>설명</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div>
                <table>
                    <tr>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                    </tr>
                    <tr>
                        <td><a href="#">프라다 아오야마점</a></td>
                        <td><a href="#">아케보노 긴자 본점</a></td>
                        <td><a href="#">마루고토 닛폰</a></td>
                    </tr>
                    <tr>
                        <td>설명</td>
                        <td>설명</td>
                        <td>설명</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div>
                <table>
                    <tr>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                        <td><img src="/country/image/<%=files[0]%>" width="100px" height="100px"/></td>
                    </tr>
                    <tr>
                        <td><a href="#">도쿄 디즈니랜드</a></td>
                        <td><a href="#">도쿄 타워</a></td>
                        <td><a href="#">다케시타 거리</a></td>
                    </tr>
                    <tr>
                        <td>설명</td>
                        <td>설명</td>
                        <td>설명</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
        <%-include("../default/footer.ejs")%>
</body>
</html>