<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20%; font-family: 'omyu_pretty';}
        #country {padding: 5% 20%;}
        div > table {margin: 0% 20% ; text-align: center;}
        div .info{ display: flex; flex-flow: row wrap; 
          text-align: center; justify-content: space-around; }
    </style>
</head>
<body>
    <header>
        <%-include("../../default/header.ejs")%>
    </header>
    <section>
        <div id="country">
            <div class="info">
                <table>
                    <tr>
                        <th style="font-size: 60px; font-weight: normal;">강릉</th>
                    </tr>
                    <tr><td><br><br><img src="/country/korea/image/<%=files[13]%>" width="400px" height="400px"/><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 23px; font-weight: normal;">
                            강원특별자치도 동해안 중부에 있는 시로,<br> 서울과 비슷한 위도에 위치한 영동 지방 최대 도시
                        </td>
                    </tr>
                </table>
        </div>
            <div class="info">
                <table><h3><br>hotel<br><br></h3>
                    <tr>
                        <td><img src="/country/korea/image/<%=files[14]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[15]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[16]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.agoda.com/ko-kr/skybay-gyeongpo-hotel/hotel/gangneung-si-kr.html?finalPriceView=1&isShowMobileAppPrice=false&cid=1891442&numberOfBedrooms=&familyMode=false&adults=2&children=0&rooms=1&maxRooms=0&checkIn=2023-08-27&isCalendarCallout=false&childAges=&numberOfGuest=0&missingChildAges=false&travellerType=1&showReviewSubmissionEntry=false&currencyCode=KRW&isFreeOccSearch=false&tag=fdc94f04-aedd-be5e-ed05-44d5ba273c0d&isCityHaveAsq=false&los=1&searchrequestid=bff2b030-5cf0-4a73-9884-11b3dec41afe">스카이베이 호텔</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.agoda.com/ko-kr/avvio-hotel-h15463381/hotel/gangneung-si-kr.html?finalPriceView=1&isShowMobileAppPrice=false&cid=1891442&numberOfBedrooms=&familyMode=false&adults=2&children=0&rooms=1&maxRooms=0&checkIn=2023-08-27&isCalendarCallout=false&childAges=&numberOfGuest=0&missingChildAges=false&travellerType=1&showReviewSubmissionEntry=false&currencyCode=KRW&isFreeOccSearch=false&tag=fdc94f04-aedd-be5e-ed05-44d5ba273c0d&isCityHaveAsq=false&los=1&searchrequestid=b42d3e2b-2b1e-488c-a777-3ab8b3c5d785">아비오호텔</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.agoda.com/ko-kr/seamarq-hotel-h15463392/hotel/gangneung-si-kr.html?finalPriceView=1&isShowMobileAppPrice=false&cid=1891442&numberOfBedrooms=&familyMode=false&adults=2&children=0&rooms=1&maxRooms=0&checkIn=2023-08-27&isCalendarCallout=false&childAges=&numberOfGuest=0&missingChildAges=false&travellerType=1&showReviewSubmissionEntry=false&currencyCode=KRW&isFreeOccSearch=false&tag=fdc94f04-aedd-be5e-ed05-44d5ba273c0d&isCityHaveAsq=false&los=1&searchrequestid=421a9fb7-a1f4-4370-ae78-bfdd8d89ac9a">씨마크 호텔</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">오션뷰, 바다보며 수영장, 경포대 해수욕장 앞</td>
                        <td style="font-size: 20px; font-weight: normal;">오션뷰, 경포대 해수욕장 앞</td>
                        <td style="font-size: 20px; font-weight: normal;">오션뷰, 경포대 해수욕장 앞</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>food<br><br></h3>
                    <tr>
                        <td><img src="/country/korea/image/<%=files[17]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[18]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[19]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.tripadvisor.co.kr/Restaurant_Review-g317126-d8587534-Reviews-Terarosa_Coffee_Factory-Gangneung_Gangwon_do.html">테라로사 커피공장</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.tripadvisor.co.kr/Restaurant_Review-g317126-d4032373-Reviews-Donghwa_Garden-Gangneung_Gangwon_do.html">동화가든</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.tripadvisor.co.kr/Restaurant_Review-g317126-d4032833-Reviews-Gangneung_Gamja_Ongshimi-Gangneung_Gangwon_do.html">강릉감자옹심이</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">카페와 간단한 식사하는 레스토랑, 커피박물관까지 즐길 수 있음</td>
                        <td style="font-size: 20px; font-weight: normal;">순두부를 파는곳으로 짬뽕순두부가 유명</td>
                        <td style="font-size: 20px; font-weight: normal;">1박2일에 나왔던곳, 감자로 옹심이를 만들어서 칼국수와 함께 먹음</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>store<br><br></h3>
                    <tr>
                        <td><img src="/country/korea/image/<%=files[20]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[21]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="http://jumunjinport.co.kr/">주문진항</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://gnchodangdubu.modoo.at/">초당두부마을</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">수산시장으로 여러가지 해산물을 사고, 먹어을 수 있음</td>
                        <td style="font-size: 20px; font-weight: normal;">초당두부와 그걸로 만든 음식을 파는 거리</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>spot<br><br></h3>
                    <tr>
                        <td><img src="/country/korea/image/<%=files[22]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[23]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[24]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.gn.go.kr/tour/prog/lod/Sights/S0202/sub02_03_03/view.do?cid=255&orderBy=B&pageIndex=1">경포대</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.gn.go.kr/tour/sub03_02_03.do">경포 해수욕장</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.gn.go.kr/tour/prog/lod/Sights/S0202/sub02_03_03/view.do">오죽헌</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">정면 5칸, 측면 5칸의 팔작지붕 건물, 관동팔경 중 하나</td>
                        <td style="font-size: 20px; font-weight: normal;"> 강릉시 동해안 최대의 해수욕장, 모래사장의 총면적은 144,000m²</td>
                        <td style="font-size: 20px; font-weight: normal;">오죽헌은 신사임당과 율곡 이이가 태어난 유서 깊은 역사를 가진 건물 </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
        <%-include("../../default/footer.ejs")%>
</body>
</html>