<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20%; font-family: 'omyu_pretty';}
        #country {padding: 5% 20%;}
        div > table {margin: 0% 20% ; text-align: center;}
        div .info{ display: flex; flex-flow: row wrap; 
          text-align: center; justify-content: space-around; }
    </style>
</head>
<body>
    <header>
        <%-include("../../default/header.ejs")%>
    </header>
    <section>
        <div id="country">
            <div class="info">
                <table>
                    <tr>
                        <th style="font-size: 60px; font-weight: normal;">경주</th>
                    </tr>
                    <tr><td><br><br><img src="/country/korea/image/<%=files[37]%>" width="400px" height="400px"/><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 23px; font-weight: normal;">
                            대한민국 경상북도 동남부에 있는 시,<br>
                            신라의 건국부터 멸망까지 992년 동안 신라의 수도
                        </td>
                    </tr>
                </table>
            </div>
            <div class="info">
                <table><h3><br>hotel<br><br></h3>
                    <tr>
                        <td><img src="/country/korea/image/<%=files[38]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[39]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[40]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/9z41VeCyB1jWqSau5">스위트 호텔 경주</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/36MF2FUoJgCgakBq6">베니키아 스위스 로젠 호텔 경주</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/PEXqN4UKvFb7e7Z36">코모도호텔 경주</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">수영장, 사우나, 골프장, 테디베어 박물관 등 다양한 부대시설과 자연과 어우러진 곳</td>
                        <td style="font-size: 20px; font-weight: normal;">문화체육관광부가 후원하고 한국관광공사가 인증하는 한국형 비즈니스호텔 급 체인브랜드</td>
                        <td style="font-size: 20px; font-weight: normal;">보문호가 내려다 보이는 편안한 분위기의 호텔</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>food<br><br></h3>
                    <tr>
                        <td><img src="/country/korea/image/<%=files[41]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[42]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[43]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/BW7nLW4q5gSzYsac8">별채반 교동쌈밥</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/7ALun11VJPFeoVCF8">경주천년한우</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/Q379rL5BzdyYNXL48">홍시한정식</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">한옥에서 식사를 할 수 있는 경주 전통 식당</td>
                        <td style="font-size: 20px; font-weight: normal;">경주한우를 가성비 좋게 먹을수 있는 식당</td>
                        <td style="font-size: 20px; font-weight: normal;">발효음식, 홍시를 테마로한 한정식집</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>store<br><br></h3>
                    <tr>
                        <td><img src="/country/korea/image/<%=files[44]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[45]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/w8TDLJJgnvyA32iE6">황리단길</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/YSEa5bGJAdzyGcje9">성동시장</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">황남동 + 경리단길이란 뜻, 거리에 개량식 한옥이나 길가 상점을 개조한 독특하고 다양한 점포들이 있음</td>
                        <td style="font-size: 20px; font-weight: normal;">경주시에서 제일 큰 재래시장, 시설 현대화로 깔끔해지고, 한식뷔페촌, 분식 등 먹거리도 많음</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>spot<br><br></h3>
                    <tr>
                        <td><img src="/country/korea/image/<%=files[46]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[47]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/korea/image/<%=files[48]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/AAa2DcwvoZLNZL979">불국사</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/saocGCdgkasQ5rUn6">안압지</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/CUaGDJ2ZAMK8bN3h9">국립경주박물관</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">불국정토를 속세에 건설하겠다는 야심찬 통일신라의 꿈을 드러내는 호국 사찰</td>
                        <td style="font-size: 20px; font-weight: normal;">동궁과 월지는 경주시에 위치한 통일신라 시대 궁궐 유적</td>
                        <td style="font-size: 20px; font-weight: normal;">경주 및 경상북도 지역에서 출토된 유물을 전시하는 박물관, 주로 신라 시대의 유물을 중심으로 전시 </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
        <%-include("../../default/footer.ejs")%>
</body>
</html>