<%console.log(jFile)%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style>
      img {width: 100%; height: 300px;}
      section {margin: 0% 20% ;padding: 1%;}
      .button{background: skyblue; text-align: right; width: 100%; font-size: small; }
      .board {font-family: 'omyu_pretty';}
      @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}
.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}
.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    font-size: 1rem;
}
.board_list > div.top > div {
    font-weight: 400;
}

.board_list .num {
    width: 15%;
}

.board_list .title {
    width: 35%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .id {
    width: 20%;
}

.board_list .dates {
    width: 15%;
}

.board_list .viewcount {
    width: 10%;
}

    </style>
</head>
<body>
  <header>
    <%-include("default/header.ejs")%>
  </header>

  <section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="01서울.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="02대구.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="03오사카.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="04중국.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="05영국.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="06이탈리아.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="07스위스.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="08캐나다.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section style="font-size: 25px; font-family: 'omyu_pretty';">
    <div class="container text-center">
      <div style="border-bottom: solid 1px rgb(175, 167, 167);">추천 여행지</div>
      <div class="row">
        <div class="col">
          <div>서울</div>
          <a href="/country/korea/seoul"><img src="/country/korea/image/<%=kFile[72]%>"/></a>
        </div>

        <div class="col">
          <div>도쿄</div>
          <a href="/country/japan/tokyo"><img src="/country/japan/image/<%=jFile[39]%>"/></a>
        </div>

        <div class="col">
          <div>영국</div>
          <a href="/country/europe/uk"><img src="/country/europe/image/<%=eFile[52]%>"/></a>
        </div>

      </div>
    </div>
  </section>

  <section class="board" style="font-size: 20px;">
    최근 게시물
    <div class="board_list_wrap">
      <div class="board_list">
          <div class="top" style="font-size: 20px;">
              <div class="num">번호</div>
              <div class="title">제목</div>
              <div class="id">작성자</div>
              <div class="dates">등록일</div>
              <div class="viewcount">조회수</div>
          </div>
          <% data.forEach( data => {%>
              <div class="cont">
                  <div class="num"><%=data.NUM %></div>
                  <div class="title"><a href="/content/<%= data.NUM %>"><%= data.TITLE %></a></div>
                  <div class="id"><%= data.ID %></div>
                  <div class="dates"><%= data.DATES %></div>
                  <div class="viewcount"><%= data.VIEWCOUNT %></div>
              </div>
          <% }); 
          if (data.length == 0) {%>
              <div> <b>등록된 글이 없습니다</b> </div>
          <% } %>
          <a href="/boardList">더 보기</a>
      </div>
  </section>

  <%-include("default/footer.ejs")%>

</body>
</html>