
<%if(list) {%>
    <fieldset>
    <table border="1">
        <tr>
            <td>아이디</td> <td><%=list.ID%></td>
        </tr>
        <tr>
            <td>비밀번호</td> <td><%=list.PWD%></td>
        </tr>
        <tr>
            <td>이름</td> <td><%=list.NAME%></td>
        </tr>
        <tr>
            <td>주소</td> <td><%=list.ADDR%></td>
        </tr>
        <tr>
            <td>전화번호</td> <td><%=list.P_NUMBER%></td>
        </tr>
        <tr>
            <td>생년월일</td> <td><%=list.BIRTH%></td>
        </tr>
    </table>
</fieldset>
<%}else { %>
    
<%}%>