<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20%; font-family: 'omyu_pretty';}
        #country {padding: 5% 20%;}
        div > table {margin: 0% 20% ; text-align: center;}
        div .info{ display: flex; flex-flow: row wrap; 
          text-align: center; justify-content: space-around; }
    </style>
</head>
<body>
    <header>
        <%-include("../../default/header.ejs")%>
    </header>
    <section>
        <div id="country">
            <div class="info">
            <table>
                <tr>
                    <th style="font-size: 60px; font-weight: normal;">스페인</th>
                </tr>
                <tr><td><br><br><img src="/country/europe/image/<%=files[26]%>" width="400px" height="400px"/><br><br>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 23px; font-weight: normal;">
                        <p>유럽 > 남유럽 > 스페인<br>
                            언어 : 스페인어<br>
                            기온<br>
                            환율 1:1,461.45<br>
                            9~10 월 추천<br>
                            항공 14시간 10분<br>
                        </p>
                    </td>
                </tr>
            </table>
            
            </div>
            <hr>
            <div class="info">
                <table><h3><br>hotel<br><br></h3>
                    <tr>
                        <td><img src="/country/europe/image/<%=files[27]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[28]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[29]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://serrashotel.com/">세라스 바르셀로나</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.h10hotels.com/en">H10 살로리스 팰리스</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.vinccialeysa.com/">빈치 셀렉시온 알레이사</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">컨시어지, 룸서비스, 루프탑 테라스 ,수영장, 아침식사 제공 , 주차 가능</td>
                        <td style="font-size: 20px; font-weight: normal;">인기명소에 가까움 , 수영장, 무료 조식, 루프탑 테라스, 컨시어지를 제공, 주차도 가능</td>
                        <td style="font-size: 20px; font-weight: normal;">공원이 가까움 수영장, 무료 조식, 루프탑 테라스, 컨시어지를 제공, 주차도 가능</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>food<br><br></h3>
                    <tr>
                        <td><img src="/country/europe/image/<%=files[30]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[31]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[32]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://brasseriepanini.es/">브라세리 파니니</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://iansrestaurantbenidorm.business.site/">이안스 레스토랑</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://deliranto.com/65/reservas/">델리란토</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">영어가 가능, 좋은 서비스, 맛있는 갈비, 스테이크</td>
                        <td style="font-size: 20px; font-weight: normal;">해산물과 스테이크, 유럽 음식 파는곳</td>
                        <td style="font-size: 20px; font-weight: normal;">미슐랭 1스타 스페인 음식점 </td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>store<br><br></h3>
                    <tr>
                        <td><img src="/country/europe/image/<%=files[33]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[34]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[35]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://barcelonapaseodegracia.com/en/">파세이그 데 그라시아</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.barcelona-life.com/portal-de-l-angel">포르탈 데 란젤</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.eater.com/22621306/barcelona-markets-guide-boqueria-where-to-eat">보케리아 시장</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">바르셀로나의 샹젤리제 거리로 국제적인 명품 브랜드의 플래그십 매장이 있음</td>
                        <td style="font-size: 20px; font-weight: normal;">바르셀로나에서 가장 번화한 산책로이자, 다양한 상품을 판매하는 인기 있는 쇼핑 지역</td>
                        <td style="font-size: 20px; font-weight: normal;">식료품을 파는 300개 이상의 노점으로 이루어진 미로 </td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>spot<br><br></h3>
                    <tr>
                        <td><img src="/country/europe/image/<%=files[36]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[37]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[38]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://sagradafamilia.org/">사그라다 파밀리아 성당</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://www.patrimonionacional.es/real-sitio/palacios/6039">마드리드 왕궁</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://visitmataro.cat/en/discover/sea-front/beaches/ponent-beach">플라야 데 포넨트</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">성스러운 가족이라는 의미의 로마 가톨릭교회 성당으로 성가족성당이라고도 불림</td>
                        <td style="font-size: 20px; font-weight: normal;">스페인의 왕실 공식 관저로<br> 서부 유럽을 통틀어서는<br> 최대의 크기를 자랑</td>
                        <td style="font-size: 20px; font-weight: normal;">바르셀로나에서 멀지 않은 조용한 해변, 물이 투명하고, 모래사장이 고운모래가 특징</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
        <%-include("../../default/footer.ejs")%>
</body>
</html>