<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20%; font-family: 'omyu_pretty';}
        #country {padding: 5% 20%;}
        div > table {margin: 0% 20% ; text-align: center;}
        div .info{ display: flex; flex-flow: row wrap; 
          text-align: center; justify-content: space-around; }
    </style>
</head>
<body>
    <header>
        <%-include("../../default/header.ejs")%>
    </header>
    <section>
        <div id="country">
            <div class="info">
                <table>
                    <tr>
                        <th style="font-size: 60px; font-weight: normal;">영국</th>
                    </tr>
                    <tr><td><br><br><img src="/country/europe/image/<%=files[0]%>" width="400px" height="400px"/><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 23px; font-weight: normal;">
                            <p>유럽 > 서유럽 > 영국<br>
                                언어 : 영어<br>
                                기온 18°C<br>
                                환율 1파운드 스털링 : 1,686.34원<br>
                                9~10 월 추천<br>
                                항공 12시간 58분<br>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>hotel<br><br></h3>
                    <tr>
                        <td><img src="/country/europe/image/<%=files[1]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[2]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[3]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/e434BZRYyrcHZjQv6">홀리데이 인 에든버러</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/Uv5s5rKFEmWxUHFb6">리버사이드 로지 호텔</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/UEydpUBgnqbRK9Gc9">주리스 인 스윈던</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">현대적인 라운지, 세련된 바 및 온종일 식사를 즐기실 수 있고, 에든버러 공항과 가까움</td>
                        <td style="font-size: 20px; font-weight: normal;">그린 투어리즘 어워드를 수상했으며 9홀 주니어 골프 코스를 갖추고 있음</td>
                        <td style="font-size: 20px; font-weight: normal;">스윈던의 비즈니스 파크 및<br> 중심 산업 지역에 위치함<br> 구내에 무료 주차장이 있음</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>food<br><br></h3>
                    <tr>
                        <td><img src="/country/europe/image/<%=files[4]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[5]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[6]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/bXHpvy8R8XFcecFs6">코어 바이 클레어 스미스</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/ovzneaQjPw2V77Hv6">더 앵커 펍</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/UosuNEPX8WjoHsWG6">플랫 아이언</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">미슐랭 3스타, 프랑스 요리, 유럽 요리, 영국 요리를 제공</td>
                        <td style="font-size: 20px; font-weight: normal;">셰익스피어가 다녔다는 펍</td>
                        <td style="font-size: 20px; font-weight: normal;">최상급 쇠고기의 2차 부위로 만든 스테이크의 체인점</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>store<br><br></h3>
                    <tr>
                        <td><img src="/country/europe/image/<%=files[7]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[8]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[9]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/NVBBviuCiXfcMVpC6">옥스퍼드 스트리트</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/F7Kad2U9svvozVjW9">포토벨로 마켓</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/Kn2rjDNzYitxUWwJA">리젠트 스트리트</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 19px; font-weight: normal;">마블 아치 역에서부터 옥스퍼드 서커스 역까지의 거리로 백화점과 캐주얼 브랜드가 있음</td>
                        <td style="font-size: 19px; font-weight: normal;">영화 ‘노팅힐’의 촬영지로 유명하고 골동품부터 식료품, 빈티지한 소품들로 가득한 마켓</td>
                        <td style="font-size: 19px; font-weight: normal;">모든 건물들은 곡선으로 이루어져 있어서 건축적으로도 의미가 있는 쇼핑가</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>spot<br><br></h3>
                    <tr>
                        <td><img src="/country/europe/image/<%=files[10]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[11]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/europe/image/<%=files[12]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/2nv6Fk7cZrH6GiZt9">런던 탑</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/PMWud7Crh7YgeRqE8">런던 아이</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="https://goo.gl/maps/Ucmr6pY6qb3g8hsPA">옥스퍼드 대학</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">런던탑은 유서깊은 성이자 궁전, 정식 명칭은 국왕 폐하의 궁전이자 요새인 런던탑</td>
                        <td style="font-size: 20px; font-weight: normal;">런던이 한눈에 보이는 관람차</td>
                        <td style="font-size: 20px; font-weight: normal;">영미권에서 가장 오래된 대학, 해리포터의 촬영지였으며, 영국의 역사를  간직하고 있음</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
        <%-include("../../default/footer.ejs")%>
</body>
</html>