<style>
    section {margin: 0% 10% ;padding: 5%;}
</style>

<body>
    <%-include("../default/header.ejs")%>

    <section>
        <table id="world">
            <tr style="text-align: center;">
                <th>관광</th>
                <th>식도락</th>
            </tr>
            <tr>
                <td><a href="/worldcup/start/2/4/<%= nlist[6].N_ID %>"><img src="/worldcup/image/<%=files[6]%>" width="400px" height="400px"/></a></td>
                <td><img src="/worldcup/image/<%=files[9]%>" width="200px" height="200px"/></td>
                <td><a href="/worldcup/start/2/4/<%= nlist[7].N_ID %>"><img src="/worldcup/image/<%=files[7]%>" width="400px" height="400px"/></a></td>
            </tr>
        </table>
    </section>

    <%-include("../default/footer.ejs")%>
</body>
</html>
