<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section {margin: 0% 10% ;padding: 5%;}
        #world {margin : 0 10%; padding: 0 15%;}
        @font-face {
            font-family: 'HSSaemaul-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>

<body>
    <%-include("../default/header.ejs")%>
    <section>
        <table id="world">
            <tr style="text-align: center;">
                <th>근거리</th>
                <th></th>
                <th>장거리</th>
            </tr>
            <tr>
                <td><a href="/worldcup/start/<%= nlist[0].N_ID %>"><img src="/worldcup/image/<%=files[0]%>" width="400px" height="400px"/></a></td>
                <td><img src="/worldcup/image/<%=files[9]%>" width="200px" height="200px"/></td>
                <td><a href="/worldcup/start/<%= nlist[1].N_ID %>"><img src="/worldcup/image/<%=files[1]%>" width="400px" height="400px"/></a></td>
            </tr>
        </table>
    </section>


    <%-include("../default/footer.ejs")%>
</body>
</html>
