<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
<<<<<<< HEAD
        section {margin: 0% 20% ;padding: 5% 10%;}
=======
        section {margin: 0% 20% ;padding: 5% 20%;}
         #world {margin-left: 25%; border: solid 1px;}
>>>>>>> 05e840fc27885d601ffb66046f49f251e50c8b57
    </style>

<body>
    <%-include("../default/header.ejs")%>
<<<<<<< HEAD
    <section>
        <table id="world">
            <tr style="text-align: center;">
=======

        <table border="1" id="world">
            <tr style="text-align: center; border: solid 1px black;">
>>>>>>> 05e840fc27885d601ffb66046f49f251e50c8b57
                <th>근거리</th>
                <th>장거리</th>
            </tr>
            <tr style="text-align: center;">
                <td><a href="/worldcup/start/<%= nlist[0].N_ID %>"><img src="/worldcup/image/<%=files[0]%>" width="400px" height="400px"/></a></td>
                <td><a href="/worldcup/start/<%= nlist[1].N_ID %>"><img src="/worldcup/image/<%=files[1]%>" width="400px" height="400px"/></a></td>
            </tr>
        </table>
<<<<<<< HEAD
    </section>
    <%-include("../default/footer.ejs")%>
=======

    <%-include("../default/footer.ejs")%>
>>>>>>> origin/moonsm
>>>>>>> 05e840fc27885d601ffb66046f49f251e50c8b57
</body>
</html>
