<style>
    section {margin: 0% 20% ;padding: 5%;}
</style>

<body>
    <%-include("../default/header.ejs")%>

    <section>
        <table id="world">
            <tr style="text-align: center;">
                <th>산</th>
                <th></th>
                <th>바다</th>
            </tr>
            <tr>
                <td><a href="/worldcup/start/2/3/<%= nlist[4].N_ID %>"><img src="/worldcup/image/<%=files[4]%>" width="400px" height="400px"/></a></td>
                <td><img src="/worldcup/image/<%=files[9]%>" width="200px" height="200px"/></td>
                <td><a href="/worldcup/start/2/3/<%= nlist[5].N_ID %>"><img src="/worldcup/image/<%=files[5]%>" width="400px" height="400px"/></a></td>
            </tr>
        </table>
    </section>

    <%-include("../default/footer.ejs")%>
</body>
</html>
