<style>
    section {margin: 0% 20% ;padding: 5%;}
</style>

<body>
    <%-include("../default/header.ejs")%>

    <section>
        <table id="world">
            <tr style="text-align: center;">
                <th>자연</th>
                <th>도시</th>
            </tr>
            <tr>
                <td><a href="/worldcup/start/1/<%= nlist[2].N_ID %>"><img src="/worldcup/image/<%=files[2]%>" width="400px" height="400px"/></a></td>
                <td>  <a href="/worldcup/start/1/<%= nlist[3].N_ID %>"><img src="/worldcup/image/<%=files[3]%>" width="400px" height="400px"/></a></td>
            </tr>
        </table>
    </section>

    <%-include("../default/footer.ejs")%>
</body>
</html>
