<style>
    .line {text-decoration: underline;}
    #infoDiv { border: solid 1px black; margin: 0 250 0 250;}
    .naBi {float: right; margin-top: 15px; margin-right: 30px; font-size: 28px;}
    .infoBtn {float: right; border-radius: 5px; margin-top: 1px; margin-right: 2px;}
    .mainBorder {border: solid 2px black;}
    .valueBorder {border-bottom: solid 1px black;}
</style>
<%-include("../default/header.ejs")%>
<!-- 
<div id = "infoDiv">
    <div style="border-bottom: solid 1px black; background: rgb(232, 229, 235);">

        <span style="margin-left: 25px; font-size: 35px;"><%=list.ID%>님의 회원정보 </span>

        <span class="naBi">생년월일 : <%=list.BIRTH%></span>
        <span class="naBi">이름 : <%=list.NAME%></span>
    </div>
    <div style=" background: rgb(248, 247, 249);">
        <table style="font-size: 28px; margin-left: 35px;">
            <tr><td>&nbsp;</td></tr>
            <tr><td class="mainBorder">비밀번호</td><td>&nbsp;</td><td class="valueBorder"><%=list.PWD%></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td class="mainBorder">전화번호</td><td>&nbsp;</td><td class="valueBorder"><%=list.P_NUMBER%></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td class="mainBorder">주소</td><td>&nbsp;</td><td class="valueBorder"><%=list.ADDR%></td></tr>
            <tr><td>&nbsp;</td></tr>
        </table>
    </div>
    <div style="height: 32px; border-top: solid 1px black;">
        <button class="infoBtn"><a href="/member/modifyForm/<%=list.ID%>">회원정보 수정</a></button>
        
        <button class="infoBtn"><a href="/member/delete/<%=list.ID%>" class="delete">회원정보 삭제</a></button>
    </div>
</div> -->

<div style="margin-left: 30px; margin: 0 250 0 250;" >

    <div style="display: inline; margin-left: 10px;">
        <button type="button" style="border-radius: 5px;">회원 정보</button>
    </div>
    <div style="display: inline;">
        <button type="button" style="border-radius: 5px;">정보 수정</button>
    </div>


    <div style="border: solid 1px black; border-radius: 5px;  height: 50%;">
        <form action="/member/memberInfo" method="post">
        <table style="margin-top: 15%; margin-left: 35%;">
            <tr>
                <td>비밀번호</td><td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><input type="submit" value="확인"></td>
            </tr>
        </table>
        </form>
    </div>
</div>





<%-include("../default/footer.ejs")%>
