<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
      font-family: 'omyu_pretty';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
        section {margin: 0% 20%; font-family: 'omyu_pretty';}
        #country {padding: 5% 20%;}
        div > table {margin: 0% 20% ; text-align: center;}
        div .info{ display: flex; flex-flow: row wrap; 
          text-align: center; justify-content: space-around; }
    </style>
</head>
<body>
    <header>
        <%-include("../../default/header.ejs")%>
    </header>
    <section>
        <div id="country">
            <div class="info">
                <table>
                    <tr>
                        <th style="font-size: 60px; font-weight: normal;">뉴욕</th>
                    </tr>
                    <tr><td><br><br><img src="/country/us/image/<%=files[0]%>" width="400px" height="400px"/><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 23px; font-weight: normal;">
                            <p>북아메리카 > 미국 > 뉴욕<br>
                                언어 : 영어<br>
                                기온<br>
                                환율 1:1,338.52<br>
                                9~10 월 추천<br>
                                항공 14시간 2분<br>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>hotel<br><br></h3>
                    <tr>
                        <td><img src="/country/us/image/<%=files[1]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/us/image/<%=files[2]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/us/image/<%=files[3]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">더 스탠다드 뉴욕</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">에퀴녹스 호텔 뉴욕</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">펜드리 맨해튼 웨스트</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">확 트인 좋은 뷰, 친절하고 세세한 서비스, 유명 관광지를 걸어다녀도 되는 위치</td>
                        <td style="font-size: 20px; font-weight: normal;">호텔 스파와 피트니스센터의 평가가 매우 좋음, 리버뷰와 시티뷰로 나뉨</td>
                        <td style="font-size: 20px; font-weight: normal;">5성급 호텔다운 친절한 서비스와 높은 품질의 방, 명소들을 도보로 이용할만큼 용이한 위치</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>food<br><br></h3>
                    <tr>
                        <td><img src="/country/us/image/<%=files[4]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/us/image/<%=files[5]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/us/image/<%=files[6]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">클럽 에이 스테이크하우스</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">부쉐리 유니언 스퀘어</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">올리오 에 피우</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">화려한 분위기에서 전통 스테이크를 맛볼 수 있음, 스테이크 맛집</td>
                        <td style="font-size: 20px; font-weight: normal;">프랑스 요리와 스테이크를 파는곳, 스테이크 맛집</td>
                        <td style="font-size: 20px; font-weight: normal;">얇은 크러스트 피자와 이탈리아산 와인을 판매하는 나폴리 느낌으로 꾸민 뉴욕의 트라토리아</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>store<br><br></h3>
                    <tr>
                        <td><img src="/country/us/image/<%=files[7]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/us/image/<%=files[8]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/us/image/<%=files[9]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">소호</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">어퍼 이스트 사이드</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">윌리엄스버그</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 19px; font-weight: normal;">디자이너 부티크와 근사한 브랜드 상점, 고급 미술관이 있음</td>
                        <td style="font-size: 19px; font-weight: normal;">부유층이 거주하는 곳으로 명품 브랜드가 모여있음</td>
                        <td style="font-size: 19px; font-weight: normal;">빈티지와 중고품 매장, 주거지역과 재건한 공장을 거리 예술로 꾸몄음</td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="info">
                <table><h3><br>spot<br><br></h3>
                    <tr>
                        <td><img src="/country/us/image/<%=files[10]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/us/image/<%=files[11]%>" width="200px" height="200px"/></td>
                        <td><img src="/country/us/image/<%=files[12]%>" width="200px" height="200px"/></td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">센트럴파크</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">자유의 여신상</a></td>
                        <td style="font-size: 24px; font-weight: normal;"><a href="">타임스퀘어, 브로드웨이</a></td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px; font-weight: normal;">뉴욕을 상징하는 도시공원, 동물원, 회전목마, 아이스링크 등 여러 시설이 많고 넓음</td>
                        <td style="font-size: 20px; font-weight: normal;">미국의 대표적인 건축물, 미국과 자유, 민주주의의 상징, 정면에서 보려면 보트를 타야함</td>
                        <td style="font-size: 20px; font-weight: normal;">뉴욕의 화려함을 즐길 수 있는 타임스퀘어를 지나 브로드웨이에서 각종 공연 관람가능</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
        <%-include("../../default/footer.ejs")%>
</body>
</html>